doctype html
html(lang="en")
  head
    title Stock Exchange
    script(type='text/javascript' src='./javascripts/jquery-2.1.1.min.js')
    script(type='text/javascript' src='./javascripts/welcome.js')
  body
    h1 This is the stock exchange